@import '../base/variables';

$btn-padding-y: 0.5rem;
$btn-padding-x: 1rem;
$btn-font-size: 1rem;
$btn-font-weight: 400;
$btn-line-height: 1.5;
$btn-border-width: 1px;
$btn-border-radius: $border-radius;
$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

.btn {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $btn-border-width solid transparent;
  border-radius: $btn-border-radius;
  transition: $btn-transition;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

$btn-colors: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'success': $success-color,
  'danger': $danger-color,
  'warning': $warning-color,
  'info': $info-color,
  'light': $light-color,
  'dark': $dark-color,
);

@each $color, $value in $btn-colors {
  .btn-#{$color} {
    color: if($color == 'warning' or $color == 'light', #212529, #fff);
    background-color: $value;
    border-color: $value;

    &:hover {
      background-color: scale-color($value, $lightness: -20%);
      @if $color == 'dark' {
        background-color: #212529;
      }
      border-color: scale-color($value, $lightness: -20%);
    }
  }

  .btn-outline-#{$color} {
    color: $value;
    @if $color =='light' {
      color: #212529;
    }
    border-color: $value;

    &:hover {
      color: if($color == 'warning' or $color == 'light', #212529, #fff);

      background-color: $value;
      border-color: $value;

      @if $color =='light' {
        color: #fff;
        background-color: scale-color($value, $lightness: -20%);
        border-color: scale-color($value, $lightness: -20%);
      }
    }
  }
}

$btn-size: (
  'lg': (
    'padding-y': 0.5rem,
    'padding-x': 1rem,
    'font-size': 1.25rem,
    'line-height': 1.5,
    'border-radius': $border-radius,
  ),
  'sm': (
    'padding-y': 0.25rem,
    'padding-x': 0.5rem,
    'font-size': 0.875rem,
    'line-height': 1.5,
    'border-radius': $border-radius,
  ),
);

@each $size, $value in $btn-size {
  .btn-#{$size} {
    padding: map-get($value, 'padding-y') map-get($value, 'padding-x');
    font-size: map-get($value, 'font-size');
    line-height: map-get($value, 'line-height');
    border-radius: map-get($value, 'border-radius');
  }
}

.btn-block {
  display: block;
  width: 100%;
}
