$card-spacer-y: 0.75rem;
$card-spacer-x: 1.25rem;
$card-border-width: 1px;
$card-border-radius: $border-radius;
$card-border-color: rgba(0, 0, 0, 0.125);
$card-inner-border-radius: subtract($card-border-radius, $card-border-width);
$card-cap-bg: rgba(0, 0, 0, 0.03);
$card-cap-padding-y: 0.75rem;
$card-cap-padding-x: 1.25rem;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;
  margin-bottom: 1rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: $card-inner-border-radius;
  border-top-right-radius: $card-inner-border-radius;
}

.card-body {
  flex: 1 1 auto;
  padding: $card-spacer-x;
}

.card-title {
  margin-bottom: $card-spacer-y;
}

.card-subtitle {
  margin-top: -$card-spacer-y * 0.5;
  margin-bottom: 0;
}

.card-text {
  margin-top: 0;
  margin-bottom: 1rem;
}

.card-header {
  padding: $card-cap-padding-y $card-cap-padding-x;
  margin-bottom: 0;
  background-color: $card-cap-bg;
  border-bottom: $card-border-width solid $card-border-color;
}

.card-footer {
  padding: $card-cap-padding-y $card-cap-padding-x;
  background-color: $card-cap-bg;
  border-top: $card-border-width solid $card-border-color;
}

.card-deck {
  display: flex;
  flex-direction: column;

  .card {
    margin-bottom: 15px;
  }

  @media (min-width: 576px) {
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;

    .card {
      display: flex;
      flex: 1 0 0%;
      flex-direction: column;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
}